{% extends "HtmlFiles/Base.html" %}

{% block title %}Analytics Dashboard{% endblock title %}

{% load static %}

{% block body %}

<link href="{% static 'CssFiles/analytics.css' %}" rel="stylesheet">
<!-- New navigation links below the title -->
<div class="dashboard-container">
    <h3 class="dashboard-title">Restaurant Analytics Dashboard</h3>
    <div class="navigation-links">
        <a href="{% url 'analytics' %}">Visuals</a>
        <a href="{% url 'analytics_table' %}">Table</a>
    </div>
    <div class="dashboard-grid">
        <div class="dashboard-card">
            <h4>Most Ordered Dishes</h4>
            <div class="chart-container">
                <canvas id="dishesChart"></canvas>
            </div>
        </div>
        <div class="dashboard-card">
            <h4>Customer Count</h4>
            <div class="chart-container">
                <canvas id="CustomerChart"></canvas>
            </div>
        </div>
        <div class="dashboard-card">
            <h4>Peak Hours</h4>
            <div class="chart-container">
                <canvas id="peakHoursChart"></canvas>
            </div>
        </div>
        <div class="dashboard-card">
            <h4>Customer Satisfaction</h4>
            <div class="chart-container">
                <canvas id="satisfactionChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'JavaScriptFiles/analytics.js' %}"></script>
{% endblock body %}
