{% extends "HtmlFiles/Base.html" %}
{% block title %}Customer Waiting Time for Order{% endblock title %}

{% load static %}

{% block home_active %}active{% endblock home_active %}

{% block body %}
<!-- External CSS -->


<link href="{% static 'CssFiles/variables.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/analytics_tables.css' %}" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link href="{% static 'CssFiles/customer_waiting_time_for_order.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/customer_waiting_time_for_order_Visualization.css' %}" rel="stylesheet">
<br>



<h2>Order Fulfillment Lead Time</h2>
<div class="page-slider">
    <h2><a href="{% url 'waiting_time_for_order' %}" class="slider-button {% if active_page == 'statistics' %}eactiv{% endif %}">Statistics</a></h2>
    <h2><a href="{% url 'waiting_time_for_order_Visualization' %}" class="slider-button {% if active_page == 'Visualization' %}active{% endif %}">Visualization</a></h2>
</div>
<div class="charts-wrapper">
    {% if not selected_date %}
    <h2 class="charts-heading">All Dates Data Overview</h2>
{% else %}
    <h2 class="charts-heading">Data for {{ selected_date }}</h2>
{% endif %}
    </div>
<div class="main-container">
    <div class="dates-container ">
        <h3>Available Dates</h3>
        {% for date in available_dates %}
            <a  class="date-link">{{ date }}</a>
        {% empty %}
            <p>No dates available</p>
        {% endfor %}
    </div>
    <div class="containerr">

        <div class="charts-container">
            
            <canvas id="waitingTimeChart1"></canvas> 
            <canvas id="waitingTimeChart2"></canvas> 
        </div>
    </div>
</div>

<div id="groupedData" data-value='{{ grouped_data|safe }}'></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




<script src="{% static 'JavaScriptFiles/customer_waiting_time_for_order_Visualization.js' %}"></script>

{% endblock %}
