{% extends "HtmlFiles/Base.html" %}
{% block title %}Customer Waiting Time for Order{% endblock title %}

{% load static %}

{% block home_active %}active{% endblock home_active %}

{% block body %}

<!-- Link to external CSS and JS files -->
<link href="{% static 'CssFiles/customer_waiting_time_for_order.css' %}" rel="stylesheet">
<script src="{% static 'JavaScriptFiles/customer_waiting_time_for_order.js' %}"></script>
<link href="{% static 'CssFiles/variables.css' %}" rel="stylesheet">


<h2>Order Fulfillment Lead Time</h2>
<div class="page-slider">
   <h2> <a href="{% url 'waiting_time_for_order' %}" class="slider-button {% if active_page == 'statistics' %}active{% endif %}">Statistics</a></h2>
   <h2> <a href="{% url 'waiting_time_for_order_Visualization' %}" class="slider-button {% if active_page == 'Visualization' %}active{% endif %}">Visualization</a></h2>
</div>

<div class="containerr">
    <h2>Customer Waiting Time for Order</h2>
    <table class="waiting-time-table">
        <thead>
            <tr>
                <th>Table Number</th>
                <th>Total AcupationTime</th>
                <th>Waiting Time For Meal</th>
                <th>Max People</th>
                <th>Date</th>
                <th>Image</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for time in waiting_times %}
            <tr>
                <td>{{ time.table_number }}</td>
                <td>{{ time.total_time}} Minuts</td>
                <td>{{ time.time_before_meal}} Minuts</td>
                <td>{{ time.total_people|floatformat:0 }}</td>

               
                <td>{{ time.date }}</td>
                <td>
                    {% if time.visual_representation %}
                        <img src="{{ time.visual_representation.url }}" alt="Customer Image" class="img-thumbnail">
                    {% else %}
                        No Image Available
                    {% endif %}
                </td>
                <td><button class="btn btn-danger dell">Remove</button></td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
