{% extends "HtmlFiles/Base.html" %}
{% block title %}Main PAge{% endblock title %}

{% load static %}

{% block home_active %}active{% endblock home_active %}


{% block body %}



    <header>
        <h1>Innovative Monitoring Awaits</h1>
    </header>

    <main>
        <section>
            <h2>Optimize Your Operations with Precision Monitoring</h2>
            <p>Our system delivers real-time insights to streamline your restaurant’s efficiency.</p>
            

        </section>
    </main>



    {% endblock %}
