{% extends "HtmlFiles/Base.html" %}

{% block title %}Preprocessing_1{% endblock %}
{% block home_active %}active{% endblock %}

{% load static %}
{% block body %}
<link href="{% static 'CssFiles/Add_Video.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/variables.css' %}" rel="stylesheet">

<div class="container_">
    <h1>Final Step of Preprocessing</h1>

    <p>It will take a minimum of 12 hours, so be patient and <strong>do not turn off the computer</strong>.</p>


    {% if grids %}
    <div class="button-container">
        <a href="{% url 'preprocessing_2' %}">
            <button class="submit-btn">Start Preprocessing</button>
        </a>
    </div>
    

    {% elif error %}
        <h2>Error: {{ error }}</h2>
    {% else %}
        <h2>No data received.</h2>
    {% endif %}

    <!-- Add a button linking to preprocessing_2 -->
</div>

{% endblock %}
