{% extends "HtmlFiles/Base.html" %}

{% block title %}Preprocessing_1{% endblock %}
{% block home_active %}active{% endblock %}

{% load static %}
{% block body %}
<link href="{% static 'CssFiles/Add_Video.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/variables.css' %}" rel="stylesheet">

<div class="container_">
    <h1>Aj k lia BAs Aitna heeee</h1>
    <h3>Selected Grids</h3>

    {% if grids %}

    <ul>
        {% for grid in grids %}
            <p>{{ grid }}</p>
        {% endfor %}
    </ul>
{% elif error %}
    <h2>Error: {{ error }}</h2>
{% else %}
    <h2>No data received.</h2>
{% endif %}
</div>


{% endblock %}
