{% extends "HtmlFiles/Base.html" %}

{% block title %}Final Preprocessing{% endblock %}
{% block home_active %}active{% endblock %}

{% load static %}
{% block body %}
<link href="{% static 'CssFiles/Add_Video.css' %}" rel="stylesheet">
<link href="{% static 'CssFiles/variables.css' %}" rel="stylesheet">

<div class="container_">
    <h1>Final Step of Preprocessing</h1>

    <h3>It will take a minimum of 12 hours, so be patient and <strong>do not turn off the computer</strong>.</h3>

    
    {% if preprocessing %}
        <p>Congratulations! The preprocessing has been successfully completed.</p>
        <div class="button-container">
            <!-- Corrected the URL structure for the button -->
            <a href="{% url 'categories' %}">
                <button class="submit-btn">Exit Preprocessing</button>
            </a>
        </div>
    {% else %}
        <p>Preprocessing has not been completed yet. Please wait.</p>
    {% endif %}

</div>

{% endblock %}
